@charset "UTF-8";
/* ----------------------------------
    reset css mini 最低限ver
----------------------------------- */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
    }
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    *::before,
    *::after { 
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px;
    }
    body,h1,h2,h3,h4,h5 {
      /*太さノーマル*/
      font-weight: normal;
    }
    body {
      color: #ffffff;
      background-color: #ffffff;
      /*左から優先 英数字のみなら””は不要 半角スペースや日本語有りは””が必要*/
      font-family: dotFont,"游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
      /*行間 縦の隙間*/
      line-height: 1.3;
      /*デフォルトにしたいフォントサイズ*/
      font-size: 16px;
      
    }
    ol, ul {
      /*リストの点を消す*/
      list-style: none;
    }
    img {
      /*画面幅に対する100％*/
      max-width: 100%;
      /*高さは自動オート設定*/
      height: auto; 
    }
    table {
      border-collapse: collapse;
    }
    a{
      cursor: pointer;
    }
    
    input[type=text],
    input[type=tel],
    input[type=email],
    input[type=esubmit],
    select,
    textarea {
      padding: 0;
      border: none;
      border-radius: 0;
      outline: none;
      background: none;
    }  