@charset "UTF-8";
/* ----------------------------------
    font
----------------------------------- */
@font-face {
    font-family: "dotFont";
    src:url("../font/PixelMplus12-Regular.woff2") format("woff2")
    }
    * {
    font-family: "dotFont";
    }
/* ----------------------------------
----------------------------------- */
body {
    background: #00bff3;
}
#wrapper {
    overflow: hidden;
}
.main_width {
    /*max-widthで最大*/
    max-width: 1200px;
    /*左右自動で余白*/
    margin-left: auto;
    margin-right: auto;
}
.login_bg{
    text-align: center;
    /* background: #000; */
    width: 100%;
    height: 800px;
}
#login_announce {
    padding-top: 100px;
    font-size: 60px;
}
#login_text {
    padding-top: 50px;
    font-size: 26px;
}

.text_form {
    padding-top: 50px;
    font-size: 20px;
}
.id_area {
    height: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
.ps_area {
    margin-top: 20px;
    height: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}
    
input[type=text] {
    border: none;
    background: none;
    border-bottom: 2px dashed #fff;
    width: 300px;
}
#certification {
    margin-top: 20px;
    width: 100px;
    height: 100%;
    border:4px double #fff;
    font-size: 20px;
    text-align: center;
    
}
@media only screen and (min-width: 769px) {
    #certification:hover {
    background: #0397c0;
    transition: 0.5s;
    }
}

/*タブレット スマホ横 only */
@media only screen and (max-width: 768px) {
    .main_width {
        padding-left: 30px;
        padding-right: 30px;
    }
    #login_announce {
        padding-top: 50px;
        font-size: 40px;
    }
    #login_text {
        padding-top: 40px;
        font-size: 20px;
    }
    .text_form {
        padding-top: 40px;
        font-size: 16px;
    }
}
@media only screen and (max-width:480px ) {
    #login_announce {
        padding-top: 90px;
        font-size: 28px;
    }
    #login_text {
        padding-top: 40px;
        font-size: 18px;
    }
    #login_text span {
        display: inline-block;
    }
    .id_area {
        height: 50px;
    }
    .ps_area {
        height: 50px;
    }
    input[type=text] {
        width: 200px;
        
    }
    #certification {
        width: 60px;
        font-size: 16px;
    }
}